/*start variables*/
:root{
    --main-color:#10cab7;
    --secondry-color:#2c4755;
    --section-padding:padding-top: 60px;

}

/*end variables*/
/*Start globel rules*/
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
     box-sizing: border-box;
}
body{
    font-family: "Work Sans", sans-serif;

}
/*small */
@media (min-width:768px){
    .container{
        width: 750px;
    }
}
/*medium*/
@media (min-width:992px){
    .container{
        width: 970px;
    }
}
/*large*/
@media (min-width:1200px){
    .container{
        width: 1170px;
    }
}

.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left:auto ;
    margin-right: auto;
    
}
/* end globel rules */
/*start header*/
html{
    scroll-behavior: smooth;
}
.header{
    padding: 20px;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo{
    width: 60px;
}
.header .links{
    position: relative;

}
.links ul {
    list-style-type: none;
    background:#ecf4fb;
    margin: 0;
    position: absolute;
    right: calc(100% + -24px);
    min-width: 200px;
    top: calc(100% + 11px);
    display: none;
    z-index: 1;
}  
.header .links ul::before{
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #ecf4fb transparent;
    position: absolute;
    left: 176px;
    bottom: 173px;
    
  }
  .header .links:hover ul{
    display: block;
  }
  
  .header .links ul li a{
    display: block;
    padding: 12px;
    text-decoration:none;
    color: #333;
    transition: 0.3s;
  }
  .header .links ul li a:hover{
    padding-left: 20px;
}
.header .links ul li:not(:last-child) a{
    border-bottom: 1px solid #cebfbf;
    
}
/*end header*/

/*start landing*/
.landing{
    background-image: url(https://elzerowebschool.github.io/HTML_And_CSS_Template_One/images/landing.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}
.landing .intro-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
}
.landing .intro-text h1{
    font-weight: bold;
    margin: 0;
    color: var(--main-color);
    
}
.landing .intro-text p{
    font-size: 19px;
    line-height:1.8;
}
/*end landing*/

/*start featsures*/
.featsures{
    background: #f6f6f6;
    height: auto;
    padding: 40px;
   
}

.featsures .row{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}
.featsures .col h3{
    font-weight: 800;
    margin: 30px 0;
   
}
.featsures .col p{
    line-height: 1.8;
    color: #777;
    font-size: 17px;

}
.featsures .col i{
    color: var(--main-color);
    font-weight: 800;
    font-size: 25px;
}
/* end featsures*/

/*start service*/
.service{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.service .container .intro-text h1{
    color: #ebeced;
    font-size: 100px;
    font-weight: 8000;
    text-align: center;
    letter-spacing: -3px;
    margin: 0px;
}
.service .container .intro-text p{
    text-align: center;
    font-size: 20px;
    color: #797979;
    margin: -30px;

}
.service .service-contant{
    margin-top: 75px;
    
}
@media (max-width: 767px){
    .service .service-contant .row .col-3{
        text-align: center;
    }
}
    

.service .service-contant .row{
    height: 50%;
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
}
.service .service-contant .row .col-3{
    width: 100%;

}
.service .service-contant .row .col-3 i{
    color: var(--main-color);
    font-size: xx-large;
    font-weight: 800;
    position: relative;
    margin-bottom: 5px;

}

.service .service-contant .row .col-3 p{
    margin: auto;
    color: #444;
    font-weight: 300;
    line-height: 1.6;
}
.service .service-contant .row .col-3 h4{
    margin: 0 0 20px;
    font-weight: bold;
    padding-left:25px ;
}
.service-image{
    text-align: center;
    position: relative;
    bottom: 160px;
    
   
}
.service-image img{
    width: 260px;
}
.service-image::before{
    content: "";
    position: absolute;
    background-color: var(--secondry-color);
    width: 80px;
    right: 0;
    height: calc(100% + 70px);
    z-index: -1;
    top: -40px;


}
@media (max-width:1199px){
    .service-image{
        display: none;
    }
}
/* End Service */

/*Start portfolio*/
.portfolio{
    background: #f6f6f6;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.portfolio .container{
    height: 100%;
}

.portfolio .container .intro-text h1{
    color: #ebeced;
    font-size: 100px;
    font-weight: 8000;
    text-align: center;
    letter-spacing: -3px;
    margin: 0px;
}
.portfolio .container .intro-text p{
    text-align: center;
    font-size: 20px;
    color: #797979;
    margin: -30px;

}
.portfolio .container .row{
    margin-top: 55px;
}
.portfolio .container .card{
    margin-bottom: 16px;
}
.portfolio .container .row .card-body{
    padding: 0px;
    
}
.portfolio .container .row .card-body h3{
    margin-top: 10px;
    margin-left: 10px;
    font-weight: 800;
}
.portfolio .container .row .card-body p{
    margin-left: 10px;
    color: #777;
}
/* End Portfolio*/
/*start about*/
.about{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.about .container .about-header h1{
    color: #ebeced;
    font-size: 100px;
    font-weight: 800;
    text-align: center;
    letter-spacing: -3px;
    margin: 0px;
}
.about .container .about-header p{
    text-align: center;
    font-size: 20px;
    color: #797979;
    margin: -30px;
}
.about .container{
    height: 100%;
}
.about .container .about-contant{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
    
}
@media (max-width: 991px){
    .about .about-contant{
         flex-direction: column;
         text-align: center;
     }
 }
.about .about-contant .image{
    position: relative;
    width: 250px;
    height: 375px;
}
.about .about-contant .image::before{
    content: "";
    background: #e4e4e4;
    width: 100px;
    height: calc(100% + 80px);
    position: absolute;
    top: -40px;
    left: -20px;
    z-index: -1;
}
.about .about-contant .image::after{
    content: "";
    position: absolute;
    border-left: 100px solid var(--main-color);
    height: 100%;
    border-bottom: 100px solid var(--main-color);
    width: 180px;
    top: -34px;
    z-index: -1;
    right: -100px;
}
@media (max-width: 991px){
    .about .about-contant .image::before,
    .about .about-contant .image::after{
        display: none;
        
    }

}
.about .about-contant .image img{
    max-width: 100%;
}
@media (max-width: 991px){
    .about .about-contant .image{
        margin: 0 auto 60px;
    }
}
.about .about-contant .text {
    flex-basis: calc(100% - 500px);
    
}
.about .about-contant .text p:first-of-type{
    font-weight: bold;
    line-height: 2;
    margin-bottom: 40px;

}
.about .about-contant .text hr{
    color: var(--main-color);
    width: 50%;
    

}
.about .about-contant .text p:last-of-type{
    line-height: 2;
    color: #777;
}
/*end about*/
/*start contact*/
.contact{
    margin-top: 50px;
    padding-top: var(--section-padding);
    padding-bottom:var(--section-padding);
    background-color: #f6f6f6;
}
.contact .contact-header h1{
    color: #ebeced;
    font-size: 100px;
    font-weight: 800;
    text-align: center;
    letter-spacing: -3px;
    margin: 0px;
}
.contact .contact-header p{
    text-align: center;
    font-size: 20px;
    color: #797979;
    margin: -30px;
}
.contact .contact-text{
    margin-top: 20%;
    text-align: center;
    
}
.contact .contact-text h2{
    color: var(--secondry-color);
    font-weight: 800;
    letter-spacing: -2px;
}
.contact .contact-text a{
    font-size: 25px;
    color: var(--main-color);
    font-weight: 800;
    text-decoration-line: none;
}
.contact .contact-text p{
    font-weight: 800;
}
.contact .contact-text span i{
    color: var(--secondry-color);
}
/*end contact*/
/*start footer*/
.footer{
    background-color: var(--secondry-color);
    color: white;
    font-size: 20px;
    padding: 30px 10px;
    text-align: center;
    
}
.footer span{
    color: var(--main-color);
    font-weight: bold;
}